body{
    background-color: rgb(36,36,36);
    margin: 0;
}

.top_menu{
    background-color: rgba(0, 0, 0, 0.9);
    color:white;
    margin: 0;
    display: flex;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.quadro{
    background-color: rgba(0, 0, 0, 0.9);
    position: relative;
    padding:15px;
    border-radius: 15px;
    color: white;
    width: 25%;
    margin-left:15px;
}

.quadro1{
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    padding:15px;
    border-radius: 15px;
    color: white;
    left: 234px;

}

.botao{
    background-color:#88c100;
    padding: 15px;
    border: none;
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
}
.botao:hover{
    background-color:#20df96a4;
}

.bem{
    background-color:cyan
}